<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>TODO_List</title>
    <script type='text/javascript' src='https://code.jquery.com/jquery-3.5.0.min.js'></script>
</head>
<body>
    <form>
        <fieldset class="todo-list">
          <legend class="todo-list__title">My Special Todo List</legend>
          <label class="todo-list__label">
            <input type="checkbox" name="" id="" />
            <i class="check"></i>
            <span>Work on CST Project</span>
          </label>
          <label class="todo-list__label">
            <input type="checkbox" name="" id="" />
            <i class="check"></i>
            <span>Watch CST Lectures</span>
          </label>
          <label class="todo-list__label">
            <input type="checkbox" name="" id="" />
            <i class="check"></i>
            <span>Cook Dinner</span>
          </label>
          <label class="todo-list__label">
            <input type="checkbox" name="" id="" />
            <i class="check"></i>
            <span>Code All Night</span>
          </label>
        </fieldset>
      </form>
      
</body>
</html>