<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Form</title>
    <script type='text/javascript' src='https://code.jquery.com/jquery-3.5.0.min.js'></script>
    <script type="text/javascript" src='myform.js'></script>
</head>
<body>
    Todo Item 1
    <input id='item_1' type='text' name='value' />
    <span id="addTo" key=1></span>
    <input id="addButton" type="button" value='+' />
    <br>
    <button type="submit" id="submit">Submit</button>
</body>
</html>